/* General */

html {
    scroll-behavior: smooth;
}

/* Text */

.hero-eyebrow {
    font-weight: 700;
    color: #f73558;
    font-size: 21px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.hero-title {
    color: #1D1D1F;
    font-size: 72px;
    line-height: 1.05556;
    font-weight: 700;
    margin-bottom: 40px;
}

.hero-subtitle {
    color: #1D1D1F;
    font-size: 47px;
    line-height: 1.05556;
    font-weight: 700;
    margin-bottom: 40px;
}

.hero-description {
    font-size: 27px;
    font-weight: 500;
    line-height: 1.4;
}

.hero-subdescription {
    font-weight: 500;
    font-size: 16px;
}

img.hero-description-svg {
    width: 40px;
    height: 40px;
}

.hero-review {
    font-size: 23px;
    line-height: 1.21053;
    font-weight: 400;
    color: #131e29;
}

.hero-testimonial {
    font-size: 27px;
    line-height: 1.21053;
    font-weight: 600;
}

.quotation {
    font-size: 30px;
    margin: 0 auto;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
    line-height: 1.4;
}
  
.quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 3em;
    font-family: "Times New Roman", Times, serif;
}

.quotation::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #ccc;
    font-size: 3em;
    font-family: "Times New Roman", Times, serif;
}

/* Header Titles */ 

.header-eyebrow {
    font-weight: 600;
    color: #f73558;
    font-size: 20px;
    letter-spacing: 1px;
}

.header-title {
    color: #1D1D1F;
    font-size: 40px;
    line-height: 1.05556;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.header-subtitle {
    color: #666;
    font-size: 20px;
    line-height: 1.05556;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.header-description {
    font-size: 17px;
    line-height: 1.8em;
    letter-spacing: .01em;
    font-weight: 500;
}

.header-feature {
    font-size: 20px;
    font-weight: 600;
}

/* BLOG Text */

.post-title  {
    color: #1D1D1F !important;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 50px;
    margin-bottom: 20px;
}

.post-title a {
    color: #f8405f !important;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
}

.post-title a:hover {
    color: #c03e54 !important;
}

.post-subtitle  {
    color: rgba(41, 41, 41, 1);
    font-size: 28px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 50px;
    margin-bottom: 20px;
}

.post-paragraph { 
    font-size: 17px;
    letter-spacing: .01em;
    line-height: 1.8em;
    margin: 10px 0 30px 0;
}

.post-date {
    color: #666;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.read-more-post {
    color: #1D1D1F !important;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 50px;
    margin-bottom: 20px;
}

.read-more-post a {
    color: #1D1D1F !important;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 50px;
    margin-bottom: 20px;
}

.read-more-post a:hover {
    text-decoration: underline;
}

.next-post-title a {
    color: #f8405f !important;
    font-size: 32px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
}

.next-post-title a:hover {
    color: #c03e54 !important;
}

img.post {
    display: block;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 40px;
}

img.shadow {
    -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
    box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
}

figcaption {
    margin: 0;
    font-size: 15px;
    text-align: center;
}

/* SVG */

.filter-accent {
    filter: invert(31%) sepia(86%) saturate(2532%) hue-rotate(329deg) brightness(97%) contrast(99%);
}

.button-color {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 50px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-size: 16px !important;
    font-weight: 500;
    border-width: 0px !important;
    color: white !important;
    background-color: #f73558 !important;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15) !important;
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15) !important;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15) !important;
}

.button-color:hover {
    background-color: #FF5A79 !important;
}

.button img {
    margin-right: 10px;
}

/* Testimonials */

.star {
    width: 30px;
    margin: 5px;
  }

.text-gradient {
    color: transparent;
    background-image: -webkit-linear-gradient(
        right,
        #777dff 0px,
        #f154ff 200px,
        #f0357c 400px
      ),
      -webkit-linear-gradient(left, #777dff 0px, #497ce2 200px, #37bdde 400px);
    background-image: linear-gradient(
        to left,
        #777dff 0px,
        #f154ff 200px,
        #f0357c 400px
      ),
      linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);
    background-size: 51% 100%;
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    padding-bottom: 6px;
    line-height: 1.14286;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  small {
      font-weight: 700;
  }

/* Columns */ 

.columns {
    margin-top: 0px !important;
}

/* Header */ 

#header {
    background-color: #97D9E1;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

/* Footer */ 

.footer {
    background-color: #DAE7F5 !important;
}
.footer a {
    color: #363636;
}

.footer a:hover {
    color: #4a4a4a;
    text-decoration: underline;
}

.footer-top {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.footer-bottom {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.email {
    min-width: 200px;
    padding: 10px;
    margin-top: 10px;
}

.button-subscribe {
    padding: 20px !important;
    font-size: 14px !important;
    font-weight: 500;
    border-width: 0px !important;
    color: white !important;
    background-color: #f73558 !important;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
    border-radius: 30px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    line-height: 0px !important;
    margin-top: 10px;
}

.button-subscribe:hover {
    background-color: #FF5A79 !important;
}

.app-store {
    padding-top: 20px;
}

.company-copyright {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.coffee {
    margin-left: 5px;
    margin-right: 5px;
}

.social {
    height: 50px;
}

.social li {
    color: #fff!important;
    background-color: #f8405f;
    padding-top: 3px;
    padding-left: 7px;
    padding-bottom: 15px;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    font-size: 14px;
    line-height: 30px;
    float: left;
    margin: 5px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
}

.social li:hover {
    background-color: #FF5A79 !important;
}

.social li img {
    height: 16px;
    width: 16px;
}

/* Sections */ 

.section-enjoy {
    background-color: #dde4e1;
    background-image: linear-gradient(0deg, #dde4e1 0%, #dfe6e3 100%);
    overflow: hidden !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    position: relative;
}

.section-enjoy .decoration {
    display: inline-block;
    height: 300px;
    width: 50%;
    overflow: hidden !important;
}

.section-enjoy .decoration img {
    height: 650px;
    position: absolute;
    bottom: -60px;
    right: 0px;
}

.section-c {
    background-color: #DEE6E3;
    background-image: linear-gradient(0deg, #DEE6E3 0%, #DEE6E3 100%);
}

.section-d {
    background-color: #DEE6E3;
    background-image: linear-gradient(0deg, #DEE6E3 0%, #DEE6E3 100%);
}

.section-e {
    background-color: #DEE6E3;
    background-image: linear-gradient(0deg, #DEE6E3 0%, #DEE6E3 100%);
}

.section-f {
    background-color: #DEE6E3;
    background-image: linear-gradient(0deg, #DEE6E3 0%, #DEE6E3 100%);
}

.section-featured {
    background: hsl(0, 0%, 98%);
}

.section-featured .app-store-featured {
    max-height: 140px;
    width: 100%;
}

.sources {
    max-width: 400px !important;
}

img.sources-svg {
    width: 60px;
    height: 60px;
    box-shadow: 0px 1px 0px 0.5px rgb(187,200,194,0.5);
    -webkit-box-shadow: 0px 1px 0px 0.5px rgb(187,200,194,0.5);
    -moz-box-shadow: 0px 1px 0px 0.5px rgb(187,200,194,0.5);
    border-radius: 15px;
}
/* Navigation Bar */

.navbar {
    background-color: #fff !important;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.10) !important;
    -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.10) !important;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.10) !important;
}

a.navbar-item {
    color: #131e29;
    font-weight: 500;
}

a.navbar-item:hover {
    color: #f73558 !important;
}

a.navbar-item:active {
    color: #f73558 !important;
}

.navbar-item img {
    max-height: 50px !important;
}

.navbar-reviews-stars {
    margin-left: -2px;
    margin-top: -4px;
    vertical-align: middle;
  }

.navbar-reviews {
    font-size: 12px;
    padding: 20px;
}

.navbar-reviews a {
    color: #80888f !important;
    font-weight: 400;
    padding-left: 5px;
}

.navbar-reviews a:hover {
    color: #f73558 !important;
}

/* Horizontal Line */

.is-divider {
    display: block;
    position: relative;
    border-top: .1rem solid #eee;
    height: .1rem;
    margin: 2rem 0;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.is-divider-full-width {
    display: block;
    position: relative;
    border-top: .1rem solid #eee;
    height: .1rem;
    margin: 2rem 0;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.is-divider-dots {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    height: 20px;
    background-image: radial-gradient(circle, #444, #444 3px, transparent 3px, transparent);
    background-size: 20px 30px;
}

/* Tag */

.tag {
    background-image: linear-gradient(to left,#777dff 0,#f154ff 200px,#f0357c 400px),linear-gradient(to right,#777dff 0,#497ce2 200px,#37bdde 400px);
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

/* Animation */

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

/* Accordion */

details {
    border-color: #f8405f;
    border: 1px solid;
    background: #f8405f;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 4px;
    transform-origin: top center;
    transform: rotate(0.1deg);
    transition: all 0.3s;
    margin-top: 8px;
}

details:hover {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
}

details p {
    border-color: #f8405f;
    line-height: 1.7;
    margin: 10px 0 0;
    padding: 0 20px 15px;
}

details[open] {
    transition: all 0.1s;
    min-height: 100px;
    background: #f7f7f7;
    color: #434343;
    border-color: #f8405f;
}

summary {
    outline: none;
    font-size: 16px;
    padding: 13px;
}

summary:selection {
    background: transparent;
}

summary .open {
    display: inline;
}

summary .close {
    display: none;
}

[open] summary .close {
    display: inline;

}

[open] summary .open {
    display: none;
}

[open] summary {
    display: inline;
}

/* Icon */

.share-facebook {
    filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
    width: 20px;
    height: 15px;
    margin-bottom: -1px;
    margin-left: 4px;
}
  
.share-twitter {
    filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
    width: 26px;
    height: 18px;
    margin-bottom: -4px;
    margin-left: 4px;
}

/* Contact Form */

input {
    min-height: 40px;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #dedede;
    background-color: #fafafa;
    border-style: solid;
}

input#name {
    width: 100%;
}

input#email {
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 40px;
    padding: 8px !important;
    font-size: 16px;
    background-color: #fafafa;
    border-color: #dedede;
    border-radius: 4px;
}

input.btn {
    border-radius: 40px;
    color: #fff;
    background-color: #f8405f;
    border-width: 0px;
    font-weight: 500;
    cursor: pointer;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 50px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-size: 16px !important;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10) !important;
}

input.btn:hover {
    background-color: #FF5A79 !important;
}

/* Notifications */

.hero-notification {
    margin-right: 5.0rem;
}

/* Tooltips */

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}